### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Angular environments
**/environments/*

# environments files
.env.dev
.env.prod
backend/.env.dev
backend/.env.prod

.DS_STORE
*.log
node_modules
backend/build/*

frontend/.vscode/launch.json