<div
    fxLayout="column"
    fxFlex
    [style.display]="state.value === 'inactive' ? 'none' : ''"
>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
        <div fxFlex class="toast-icon"></div>

        <div
            fxFlex
            *ngIf="title"
            [class]="options.titleClass"
            [attr.aria-label]="title"
        >
            {{ title }}
        </div>
        <div
            *ngIf="message && options.enableHtml"
            fxFlex
            role="alert"
            aria-live="polite"
            [class]="options.messageClass"
            [innerHTML]="message"
        ></div>
        <div
            fxFlex
            *ngIf="message && !options.enableHtml"
            role="alert"
            aria-live="polite"
            [class]="options.messageClass"
            [attr.aria-label]="message"
            style="text-align: center"
        >
            {{ message }}
        </div>
    </div>
</div>
